<p>Děkujeme za Váš nákup. Pro budoucí nákup prosím použijte přihlašovací informace
	uvedené níže.</p>

<p>
Uživatelské jméno: {$user->username}<br />
Heslo: {$password}<br />
</p>

<p>TODO: Změnit text e-mailu</p>