{block shoppingCartLast}

<div id="shoppingCartLast" class="shoppingCart">	
	
	{block perex}
		<div class="cmsContent perex">
			{msg perex-orderDone, parse => true,
						orderId => $order->id,
						formatedOrderId => $order->id|formatOrderId,
						customerEmail => $order->customer->email}
		</div>
	{/block}
		
</div>