<p>Vaše objednávka je evidována pod číslem <strong>{$order->id|formatOrderId}</strong>.</p>

<p>E-mail o potvrzení objednávky bude doručen na e-mail <strong>{$order->customer->email}</strong></p>

<p>Děkujeme za Váš nákup.</p>