{block shoppingCartReview}

{form reviewForm}

<div id="shoppingCartReview" class="shoppingCart">	
	
	{block perex}
		<div class="cmsContent perex">{msg perex-reviewOrder, parse => true}</div>
	{/block}
	
	{include 'order.inc.latte'}
	
	<div class="buttonBlock">
		{input back}
		{input next}
	</div>
</div>

{/form}