<div>
	{var $count = 0}
	{var $totalPrice = 0}
	{foreach $data as $item}
		{var $count += $item['quantity']}
		{var $totalPrice += $item['quantity']*$item['price']}
	{/foreach}
	{dump $data}
	{if $count > 0}
		{$count} položek v hodnotě {$totalPrice|currency}<br>
		<a href="{rlink 7}">Procházet košík</a>
	{else}
		
		V košíku nejsou žádné položky. <a href="#">Jak nakupovat?</a>
	{/if}
</div>