Dear {$username},

If you click the following link, you can reset your password.
<a n:href="//newPassword hash=>$hash">Reset password</a>
{* Nejak nefunguje absolutni odkaz. Je to problem jen u me na lokalu,
 nebo to mas taky? Bez absolutniho odkazu je to docela k nicemu... :-| *}

Yours sincerely,
vStore