{addJs LIBS_DIR . '/vStore/vStore/Application/UI/Controls/EditUser/Js/editUser.js'}
{addCss LIBS_DIR . '/vStore/vStore/Application/UI/Controls/EditUser/Css/editUser.css'}
<div id="editUser">
	<div id="updateProfileFormWrapper" class="formWrapper">
		{control updateProfileForm}
	</div>
	<div id="changePasswordFormWrapper" class="formWrapper">
		{control changePasswordForm}
	</div>
</div>